.filtros {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.filtros button {
  padding: 8px 12px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 5px;
}

.filtros .activo {
  background: #28a745;
  color: white;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.tabla-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background: #222;
  color: white;
}

.resaltado {
  background-color: #ffeaa7;
}
