u {
  background-color: yellow;
  text-decoration: underline;
  font-weight: bold;
}

.resaltado {
  background-color: #1e293b; /* azul oscuro */
  color: white; /* texto blanco */
  font-weight: bold;
  transition: 0.3s;
}

.resaltado td {
  color: white;
}


